.main-container{
    display: flex;
    justify-content: space-around;
}
.btn{
    height: 370px; 
    display: flex;
    justify-content: center;
}
.card{
    width: 200px;
    height: 180px;
}
.card-body{
    text-align: center;
    height: 150px
}
.meals-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 15px;
    width: 100%;
    margin: auto;
    text-align: center;
}
#handleAdd{
    background-color: rgb(26, 128, 128);
    border-radius: 5px;
}
#meal-details{
    display: flex;
    justify-content: center;
}
